

.topnav {
  background-color: #292F33;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #CCD6DD;
  color: black;
}

.topnav a.active {
  background-color: #66757F;
  color: white;
}

.indicatorBox {
  width: 40%;
}

.questionBox {
  width: 40%;
  x
}

.sidenavOne {
  height: 100%;
  width: 20%%;
  top: 20px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20
}
.sidenav img {
  width: 100px;
  padding-left: 10px;
  vertical-align: top;
}

.sidenav button {
  width: 160px;
  padding-left: 10px;
}

#BurkinaFaso {
  height: 108px;
  vertical-align: bottom;
  padding-bottom: 5px;
}

#Liberia {
  height: 153px;
  vertical-align: bottom;
}

#Mozambique {
  height: 175px;
  vertical-align: bottom;
}
